/*Variables*/
:root {
  --bg-dark:#060606;
}
.App {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 13px;
}
.nav-link {
  font-weight: 600 !important;
}
.nav-link:hover {
  color: var(--bg-dark);
  text-decoration: none;
  border-bottom: 2px solid var(--bg-dark);
}
#header .iconOne, .iconTwo {
  margin-left: 5px;
  margin-right: 5px;
}
#options {
  background-color: whitesmoke;
  font-weight: 600 !important;
}
#options .card {
  border-radius: 0%;
  border: 0;
}
#options .card-active {
  background-color: var(--bg-dark) !important;
  color: white;
}
#options img {
  width: 100%;
}
#options .img-inactive {
  filter: blur(0.9px);
  transition: all .5s;
}
#options .img-inactive:hover {
  filter: blur(0px);
}
#about span {
  font-size: 40px;
  font-weight: 300;
}
#about p {
  color: grey;
  font-weight: 600;
}
#products .carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #060606;
  border: 1px solid #060606;
  border-radius: 50px;
}
#others .card {
  font-size: 15px;
  background-color: whitesmoke;
  border: 0;
  border-radius: 0;
}
.btn-perso {
  border: 2px solid #060606;
  border-radius: 0;
  font-weight: bold !important;
  transition: all .3s;
}
#others .btn-perso-two {
  border: 0;
  border-radius: 0;
  font-weight: bold !important;
  transition: all .3s;
}
.btn-perso:hover {
  background-color: #060606;
  color: whitesmoke;
}
#others .svg-flecha {
  margin-left: 5px;
}
#contact .svg-contact {
  color: #060606;
  border: 5px solid #060606;
  border-radius: 50px;
  padding: 10px;
}
#contact .svg-flecha {
  margin-left: 25px;
}
